<table class = "table">
   <caption><h1> <%= current_user.username%>'s Recipes :</h1></caption>
   
   <thead>
      <tr id="title_row">
         <th>Recipe Name:</th>
         <th>Description:</th>
      </tr>
   </thead>
   
   <tbody>
     <% @recipes.each do |recipe| %>
      <tr>
        <td onclick="window.location.href='/recipes/<%= recipe.id %>';"><strong><%= recipe.name %></strong></td>
         <td><%= recipe.description %></td>
      </tr>
       <% end %>
   </tbody>
	
</table>

<br><br>
<button class="new_recipe" onclick="window.location.href='/recipes/new';">Create New Recipe</button>