<h1>Liquors :</h1>
  <table>
    <tr>
      <% @ingredients.each do |ingredient| %>
        <% if ingredient.alcoholic == true%>
          <td><%= ingredient.name %></td>
        <% end %>
      <% end %>
    </tr>
  </table>