
<h1>Find By : Liquor</h1>
  <br>
    <% a = @ingredients.first.id%>
    <% b = @ingredients.count%>
      <% for i in a..b%>
        <% if @ingredients.find(i).alcoholic == true %>
           <div class="i" onclick="window.location.href='/ingredients/<%= i %>';"><%= @ingredients.find(i).name %></div>
        <%end%>  
      <% end %>
