
<h1>Find By : Mixer</h1>
	<br>
    <% a = @ingredients.first.id%>
    <% b = @ingredients.count%>
      <% for i in a..b%>
      	<% if @ingredients.find(i).alcoholic == false%>
           <div class="i" onclick="window.location.href='/ingredients/<%= i %>';"><%= @ingredients.find(i).name %></div>
        <%end%>  
      <% end %>
