<h1>FAQS :</h1>

<div class="faq_list">
  <h4>21 and over</h4>
  <h4>all right's & privileges reserved by Mixbook</h4>
  <h4>Terms and Conditions Apply</h4>
  <h4>check out my Github!</h4>
  <h4>check out my LinkedIn!</h4>
</div>