<h1>FAQS :</h1>

<ul class="faq_list">
  <li>21 and over please!</li>
  <li>all right's and privliges reserved by Mixbook</li>
  <li>Terms and Conditions Apply</li>
  <li>check out my Github</li>
  <li>check out my LinkedIn</li>
  <li>let's make some drinks!</li>
</ul>